---
import Speakers from "../components/Speakers.svelte";
	import Partners from "../components/Partner.svelte";
	import Nav from '../components/Navbar.svelte';
	import Dropdown from "../components/Dropdown.svelte";
	import Info from "../components/Info.svelte";
	import Agenda from "../components/Agenda.svelte";
	import Tracks from "../components/Tracks.svelte";
	import Menu from "../components/Menu.svelte";
	import { Plyr } from "svelte-plyr";
import Layout from "../layouts/Layout.astro";

---
<Layout>

	<script is:inline>
		export let videoId;
  
	  let videoId = "3D41jkThUbQ";
	  let player;
	  let open = false;
	
	  let national_partners = [
		{
		  "image" : "startupindia.png"
		},
	  ];
	  
	</script>
  <Menu></Menu>
	
	<section class="py-24 px-5 flex items-center relative main-section">
	  <div class="absolute -z-10 w-full h-full top-0 left-0 bg-black bg-opacity-70"></div>
	  <div class="absolute -z-20 bg-cover bg-center bg-no-repeat w-full h-full top-0 left-0" style="background-image:url('/wss/img/wss-bg.jpg')"></div>  
	  <div class="container mx-auto text-white space-y-3 md:px-10">
		
		<img src="/wss/img/wss4-white.png" alt="logo" class="h-32 -ml-5">
		<div class="font-other text-red-500 text-2xl">#WomenInAction</div>
		<div class="font-heading text-5xl md:text-6xl font-black">
		  Women Startup Summit
		</div>
		<div>
		  <div class="text-xl my-10">23 September 2022 @ Kerala Technology Innovation Zone, Kochi</div>
		  <div class="text-xl mb-16">24 September 2022 @ Kochi Marriot</div>
		</div>
		<div class="space-y-4 md:space-x-4 md:max-w-4xl">
		  
		  <!-- <button onclick="popup('women-startup-summit-40-002133');" class="font-other px-10 py-4 bg-red-600 hover:bg-red-500 inline-block">Book Tickets</button> -->
  
		  
		  
			</div>
	
	  </div>
	
   
	</section>
	
	<!-- <Nav> -->
	
	<section class="py-24 px-5">
	  <div class="container mx-auto flex md:flex-row flex-col justify-evenly items-center">
		<div class="md:w-1/2 w-full">
	
			  <iframe title="player" class="w-full h-96"
				src="https://www.youtube.com/embed/3D41jkThUbQ?iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
				allowfullscreen allowtransparency allow="autoplay">
			  </iframe>
		  
		</div>
		<div class="md:w-1/3 w-full">
		  <div class="font-heading text-3xl font-bold mb-5 mt-5 md:mt-0">WSS 2022</div>
		  <div class="font-other text-red-500 text-2xl mb-5">#WomenInAction</div>
		  <div class="text-xl">The 2022 Women Startup Summit will accelerate & empower the women entrepreneurs in the startup ecosystem with technology & innovation.It will give the oppurtunity to upskill and collaborate globally.The Summit will convene Women leaders in real action from all across the globe.</div>
		</div>
	
	  </div>
	
	  <div class="container mx-auto mt-20 text-white">
	
		<div class="font-other font-bold text-4xl text-center mb-10 text-red-600">Register for Parallel Tracks</div>
	
		<div class="grid gap-5 md:grid-cols-3 mb-5 max-w-5xl mx-auto">
		  <div class="bg-red-600 text-white p-2">
			<div class="border-4 border-white h-full shadow-md p-4 text-center flex flex-col justify-between">
			  <div>
				<div class="font-bold text-xl mb-3">Design Thinking Workshop</div>
				<div class="">
				  Learn cognitive, strategic and practical procedures through design thinking & other aspects
				</div>
			  </div>
			  <!-- <button onclick="popup('women-startup-summit-40-workshop-323431');" class="p-1 inline-block mx-auto bg-white text-red-700 shadow-md mt-5">
				<div class="border-4 border-red-600 shadow-md px-8 py-2">
				  Register Now
				</div>
			  </button> -->
			</div>
		  </div>
		  <div class="bg-red-600 text-white p-2">
			<div class="border-4 border-white h-full shadow-md p-4 text-center flex flex-col justify-between">
			  <div>
				<div class="font-bold text-xl mb-3">Fab for Women</div>
				<div class="">
				  Get an insight into the world of 3 D printing and 3 D designing. Anyone with basic knowledge of computer operations & aptitude in designing can join.
				</div>
			  </div>
			  <!-- <button onclick="popup('women-startup-summit-40-workshop-323431');" class="p-1 inline-block mx-auto bg-white text-red-700 shadow-md mt-5">
				<div class="border-4 border-red-600 shadow-md px-8 py-2">
				  Register Now
				</div>
			  </button> -->
			</div>
		  </div>
		  <div class="bg-red-600 text-white p-2">
			<div class="border-4 border-white h-full shadow-md p-4 text-center flex flex-col justify-between">
			  <div>
				<div class="font-bold text-xl mb-3">Lets Improv: Theater Workshop</div>
				<div class="">
				  Workshop using theatre techniques focussing on aspects, Embracing Failures, taking calculated risks, Working through constraints, and Building on ideas.
				</div>
			  </div>
			  <!-- <button onclick="popup('women-startup-summit-40-workshop-323431');" class="p-1 inline-block mx-auto bg-white text-red-700 shadow-md mt-5">
				<div class="border-4 border-red-600 shadow-md px-8 py-2">
				  Register Now
				</div>
			  </button> -->
			</div>
		  </div>
	
		  <div class="bg-red-600 text-white p-2">
			<div class="border-4 border-white h-full shadow-md p-4 text-center flex flex-col justify-between">
			  <div>
				<div class="font-bold text-xl mb-3">Investor Cafe</div>
				<div class="">
				  Investor café is an opportunity for startups looking for funds to connect with angel investors and VCs.
				</div>
			  </div>
			  <!-- <a href="https://forms.zohopublic.com/keralastartupmission/form/Startups/formperma/mED0NailX3wcajtbX4Yz_OY4PTW6LKlwAccKZVpsCt8" target="_blank"  class="p-1 inline-block mx-auto bg-white text-red-700 shadow-md mt-5">
				<div class="border-4 border-red-600 shadow-md px-8 py-2">
				  Register Now
				</div>
			  </a> -->
			</div>
		  </div>
	
		  <div class="bg-red-600 text-white p-2">
			<div class="border-4 border-white h-full shadow-md p-4 text-center flex flex-col justify-between">
			  <div>
				<div class="font-bold text-xl mb-3">Women Founders Meet</div>
				<div class="">
				  Exclusive Women Founders meet is planned at Kochi on september 23,2022. It is an invite-only event and entry is limited to malayali women founders. 
				</div>
			  </div>
			  <!-- <button onclick="popup('woman-founders-meet-213134');"  class="p-1 inline-block mx-auto bg-white text-red-700 shadow-md mt-5">
				<div class="border-4 border-red-600 shadow-md px-8 py-2">
				  Register Now
				</div>
			  </button> -->
			</div>
		  </div>
	
		  <div class="bg-red-600 text-white p-2">
			<div class="border-4 border-white h-full shadow-md p-4 text-center flex flex-col justify-between">
			  <div>
				<div class="font-bold text-xl mb-3">Product Showcase</div>
				<!-- <div class="">
				  Investor café is an opportunity for startups looking for funds to connect with angel investors and VCs.
				</div> -->
			  </div>
			  <!-- <a href="https://zfrmz.com/E00jM0lHIaKikIYTCuPy" target="_blank"  class="p-1 inline-block mx-auto bg-white text-red-700 shadow-md mt-5">
				<div class="border-4 border-red-600 shadow-md px-8 py-2">
				  Register Now
				</div>
			  </a> -->
			</div>
		  </div>
	
		</div>
	
	  </div>
	  
	</section>
	
	<section class="py-20 px-5 bg-[#1a1a1a] text-white">
	
	  <div class="container mx-auto flex md:flex-row flex-col justify-evenly items-center">
		<Info number="2" title="Days"></Info>
		<Info number="20+" title="Live Sessions"></Info>
		<Info number="30+" title="Speakers"></Info>
		<Info number="50+" title="Product Display"></Info>
		<Info number="500+" title="Attendees"></Info>
	  </div>
	
	</section>
	
	<section id="programs" class="py-5 px-5 bg-[#1a1a1a] overflow-x-hidden">
	  <div class="container mx-auto ">
		<div class="font-other font-bold text-4xl text-center mb-10 text-white">Tracks</div>
		<Tracks client:load >
	  </div>
	  <!-- <div class="">
		<div class="font-other font-bold text-4xl text-center mb-10 text-white">Workshops</div>
	
		<div class="grid gap-5 md:grid-cols-4">
	
		  <button class="" onclick="popup('women-startup-summit-40-workshop-323431');">
			<img src="/wss/img/dt-w.png" alt="">
		  </button>
		  <button class="" onclick="popup('women-startup-summit-40-workshop-323431');">
			<img src="/wss/img/fab-w.png" alt="">
		  </button>
		  <button class="" onclick="popup('women-startup-summit-40-workshop-323431');">
			<img src="/wss/img/desgin-w.png" alt="">
		  </button>
	
		</div>
	  </div> -->
	</section>
	
	<!-- <section class="py-20 px-5 bg-[#1a1a1a] text-white">
	  <div class="container mx-auto">
		<div class="grid md:grid-cols-3 gap-20">
		  <div class="">
			<a href="/shelovestech">
			  <img src="/wss/img/slt-poster.jpeg" alt="" >
			</a>
		  </div>
		  <div class="">
			<a href="https://grants.startupmission.in" target="_blank">
			  <img src="/wss/img/grant-poster.jpeg" alt="" >
			</a>
		  </div>
		  <div class="">
			<a href="https://zfrmz.com/pXHr5Qgjqb19pc9k7SH9" target="_blank">
			  <img src="/wss/img/herstart.jpeg" alt="" >
			</a>
		  </div>
		</div>
	  </div>
	</section> -->
	
	<section id="speakers" class="pt-20 pb-10 px-5 bg-[#1a1a1a] text-white">
	  <div class="container mx-auto max-w-5xl">
		<div class="font-other font-bold text-4xl text-center mb-10">Our Speakers</div>
	
		<Speakers client:load/>
	  </div>
	</section>
	
	<section id="agenda" class="pt-10 pb-20 px-5 bg-[#1a1a1a] text-white">
	  <div class="mx-auto container">
		<div class="font-other font-bold text-4xl text-center mb-10">Agenda</div>
	
		<Agenda client:load/>
	  </div>
	</section>
	
  <Partners ></Partners>
	
	<section class="py-24 bg-[#1a1a1a] text-white">
	  <div class="container mx-auto">
		<div class="flex flex-wrap">
		  <div class="w-full md:w-1/2 bg-white border-8 border-white shadow">
			<iframe title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.13294256542!2d76.3542335!3d10.0553212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeaddd199d9bbde2b!2sKerala%20Technology%20Innovation%20Zone%20(KTIZ)!5e0!3m2!1sen!2sin!4v1655224297726!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		  </div>
		  <div class="w-full md:w-1/2 py-5 flex flex-col items-center justify-center">
	
			<img src="/wss/img/logo-white.svg" alt="LOGO" class="mb-3">
	
			<!-- <div class=" mb-2">
			  Event Venue:
			</div> -->
			<div class="font-bold font-heading">Kerala Technology Innovation Zone</div>
			<div class="text-sm max-w-sm text-center">
			  Kinfra Hi-Tech Park, Kalamassery, Kochi, Kerala, India
			</div>
	
			
			<div class="mt-10">
			  For More Details:
			</div>
			<div class="font-bold font-heading">Sumi</div>
			<div class="">sumi@startupmission.in</div>
			<!-- <div class="">+91 95673 70286</div> -->
	
			<!-- <div class="text-center text-sm max-w-sm">G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581</div> -->
			
		  </div>
		</div>
	  </div>
	</section>
	
	<style lang="scss">
	  .main-section{
		min-height: calc(100vh - 9.5rem);
	  }
	</style>
	
	

</Layout>
